/* sets var */
:root {
    --light-blue: rgba(220, 222, 233, 0.887);
}

/* removes margin universally */
* {
    margin: 0;
    padding: 0;
}

/* sets font for html */
html {
    font-family: sans-serif;
}

/* aligns h1 text to center of div */
h1 {
    text-align: center;
}

/* makes header flexbox, allows wrap, sets width, height, background image, and bottom margin */
.topbar {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 30vh;
    background-image: linear-gradient( to left top,
    rgb(3, 12, 0) 0%,
    rgba(217, 232, 215, 0.6) 100%);
    margin-bottom: 5rem;
}

/* allows profile image div to grow */
.profile-img-wrapper {
    flex: 1;
}

/* sets width and height, makes img ovular */
.profile-img {
    width: 15rem;
    height: 21rem;
    border-radius: 50%;
}

/* allows h1 to grow 2x profile img div and aligns to center of flexbox cross-axis */
.name {
    flex: 2;
    align-self: center;
}

/* allows nav div to grow 2x profile img div, aligns to end of flexbox cross-axis */
.navbar-wrapper {
    flex: 2;
    align-self: flex-end;
}

/* aligns to center of flexbox cross-axis */
.profile-img-wrapper:first-child {
    align-self: center;
}

/* makes links line up horizontally, prevents links from wrapping */
ul li {
    display: inline;
    white-space: nowrap;
}

/* sets links color, decoration, font-size and padding */
nav li > a {
    color: var(--light-blue);
    text-decoration: none;
    font-size: 2rem;
    padding-right: 2vw;
}

/* shows underline on link hover */
a:hover {
    text-decoration: underline;
}

/* sets "about me" section to flexbox */
.section-wrapper {
    display: flex;
    margin-bottom: 5rem;
}

/* allows align/justify and h2 div to grow from 10rem, prevents h2 wrap */
/* sets padding and vertical border */
.section-title {
    white-space: nowrap;
    padding-right: 2rem;
    border-right: solid black 5px;
    width: 400px;
}

/* sets content wrappers to flex, width to 80%, and justifies content center */
.section-content-wrapper {
    display: flex;
    width: 80%;
    justify-content: center;
}

/* aligns titles to right side of div */
.title {
    text-align: right;
}

/* prevents text from running full length of screen/sets font size */
p {
    display: inline-block;
    width: 40vw;
    font-size: 1.25rem;
}

/* sets links to flexwrap, width to 40%, justifies content to have equal space between them */
.work-links {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: space-between;
}

/* allows snippet img div to grow/shrink, sets width, aligns and justifies, sets position relative */
.snippet {
    flex: 1 1;
    width: 40vw;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

/* allows refactor img div to grow/shrink, sets width, sets position relative */
.refactor {
    flex: 1, 1;
    width: 20vw;
    position: relative;
}

/* allows landing img div to grow/shrink, sets width, sets position relative */
.landing {
    flex: 1, 1;
    width: 20vw;
    position: relative;
}

/* allows title on imgs to be seen and positions them */
.overlay {
    display: flex;
    position: absolute;
    top: 0;
    height: 50px;
    background-color: var(--light-blue);
    opacity: 1;
    align-items: center;
}
/* alters css for screens smaller than 768px wide*/
@media screen and (max-width: 768px) {
    .topbar {
        flex-direction: column;
        align-content: center;
    }

    .profile-img-wrapper:first-child {
        align-self: center;
    }

    .profile-img {
        width: 8rem;
        height: 10rem;
    }

    .name {
        flex: 2;
        align-self: center;
    }

    .navbar-wrapper {
        display: flex;
        flex: 2 1 50%;
        align-items: center;
        justify-items: center;
        align-self: center;
    }

    nav li > a {
        font-size: 1.5rem;
    }

    p {
        display: inline-block;
        width: 80vw;
        font-size: 1.25rem;
    }

    .title {
        text-align: center;
    }

     .section-wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 80vw;
        padding-top: 5%;
        margin-bottom: 0;
    }

    .section-title {
        padding-bottom: 1rem;
        padding-right: 0;
        border-right: none;
        border-bottom: solid black 5px;
        width: min-content;
        margin-bottom: 1rem;
    }

    .section-content-wrapper {
        display: flex;
        width: 80%;
        justify-content: flex-start;
    }

    .work-links {
        padding-top: 5%;
        display: flex;
        width: 40%;
        justify-content: center;
    }

    .snippet {
        flex: 1 1 40%;
        width: 40vw;
        position: relative;
    }

    .landing {
        flex: 1, 1 50%;
        width: 20vw;
        position: relative;
    }

    .overlay {
        display: flex;
        position: absolute;
        top: 0;
        height: 25px;
        background-color: var(--light-blue);
        opacity: 1;
        align-items: center;
        width: 125px;
    }

    .snippet-img {
        width: 200px;
        height: 50px;
    }

    .refactor-img {
        width: 175px;
        height: 33px
    }

    .landing-img {
        width: 175px;
    }
}

/* alters css for screens larger than 768px wide*/
@media screen and (min-width: 768px) {
    .topbar {
        flex-direction: column;
        align-content: center;
    }

    .profile-img-wrapper:first-child {
        align-self: center;
    }

    .profile-img {
        width: 8rem;
        height: 10rem;
    }

    .name {
        flex: 2;
        align-self: center;
    }

    .navbar-wrapper {
        display: flex;
        flex: 2 1 50%;
        align-items: center;
        justify-items: center;
        align-self: center;
    }

    nav li > a {
        font-size: 1.5rem;
    }

    .title {
        text-align: center;
    }

     .section-wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 80vw;
        padding-top: 5%;
        margin-bottom: 0;
    }

    .section-title {
        padding-bottom: 1rem;
        padding-right: 0;
        border-right: none;
        border-bottom: solid black 5px;
        justify-content: center;
    }

    .work-links {
        padding-top: 5%;
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        justify-content: space-between;
    }

    .snippet {
        flex: 1 1 40%;
        width: 40vw;
        align-items: center;
        justify-content: flex-start;
        position: relative;
    }

    .landing {
        flex: 1, 1 50%;
        width: 20vw;
        position: relative;
    }
}

/* alters css for screens smaller than 992px wide */
@media screen and (min-width: 992px) {
    .topbar {
        flex-direction: column;
        align-content: center;
    }

    .profile-img-wrapper:first-child {
        align-self: flex-start;
    }

    .profile-img {
        width: 12rem;
        height: 15rem;
    }

    .name {
        flex: 2;
        align-self: flex-start;
    }

    .navbar-wrapper {
        display: flex;
        flex: 2 1;
        justify-items: flex-end;
    }
    nav li > a {
        font-size: 1.5rem;
    }

    .section-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 80vw;
        padding-top: 5%;
        margin-bottom: 0;
    }

    .section-title {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 1rem;
        padding-right: 0;
        border-right: none;
        border-bottom: solid black 5px;
        width: 50%;
        justify-content: flex-end;
    }

    .title {
        text-align: center;
    }

    .work-links {
        padding-top: 5%;
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        justify-content: space-between;
    }

    
}
